[submodule "terminal"]
	path = terminal
	url = git@github.com:Ojas-bhagavath/terminal.git 
[submodule "nvim"]
	path = nvim
	url = git@github.com:Ojas-bhagavath/nvim.git 
[submodule "qutebrowser"]
	path = qutebrowser
	url = git@github.com:Ojas-bhagavath/qutebrowser.git
